- var player = "Player"
- var total = "Market Value"

doctype html
html(lang="en")
    head
        //-base()
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')

        meta(property="og:title", content="PoE Guild Stash Balance")
        meta(property="og:description", content="Timers and quick links to Sky: Children of the Light")
        meta(property="og:url", content="https://skykid.me/")
        link(rel='stylesheet' href='stylesheet.styl')

        //link(rel='stylesheet' href='stylesheet.styl')
        title PoE Guild Stash Balance

    body

        input#fileSelector(type="file", accept=".csv", disabled)
        select#leagueSelector(name="league", disabled)
            option(selected, disabled, hidden) Select league to preview...

        div#apiStatus Please wait, loading currency data...

        div
            p Fragments are accounted proportionally to the worth.
            p Cards are accounted as well
            p Market worth based on data from poe.ninja
            p Chaos Orbs equivelent of currency is calculated based on non-hc non-ssf non-ruthless league due to data availability.
            p Essences

        mixin imgtd(name, url)
            td
                img(src=url, alt=name)

        div#tables

        //- Mixin for fast and easy creation of standard <td> elements
        mixin autotd(name, icon)
            if icon
                td(data-icon=icon, data-name=name)=name
            else
                td(data-icon=name, data-name=name)=name

        section#commonCurrency
            header Common Currency
            table.automatic
                thead
                    tr
                        td=player
                        +autotd("Scroll of Wisdom")
                        +autotd("Portal Scroll")
                        +autotd("Orb of Transmutation")
                        +autotd("Orb of Alteration")
                        +autotd("Orb of Annulment")
                        +autotd("Orb of Augmentation")
                        +autotd("Orb of Chance")
                        +autotd("Jeweller's Orb")
                        +autotd("Orb of Fusing")
                        +autotd("Chromatic Orb")

                        //- Quality Currency
                        +autotd("Blacksmith's Whetstone")
                        +autotd("Armourer's Scrap")
                        +autotd("Glassblower's Bauble")
                        +autotd("Gemcutter's Prism")

                        //- Flask Currency
                        +autotd("Enkindling Orb")
                        +autotd("Instilling Orb")

                        //- Regression Items
                        +autotd("Orb of Regret")
                        +autotd("Orb of Scouring")
                        +autotd("Orb of Unmaking")


                        td=total


        section#rareCurrency
            header Rare Currency
            table
                thead
                    tr
                        td=player

                        //- 
                        +autotd("Ancient Orb")
                        +autotd("Orb of Binding")
                        +autotd("Engineer's Orb")
                        //- 
                        +autotd("Vaal Orb")
                        +autotd("Blessed Orb")
                        
                        +autotd("Regal Orb")
                        +autotd("Orb of Alchemy")
                        +autotd("Chaos Orb")
                        +autotd("Veiled Chaos Orb")
                        +autotd("Exalted Orb")
                        +autotd("Divine Orb")
                        +autotd("Mirror of Kalandra")
                        td=total

        section#mapCurrency
            header Mapping Currency
            table
                thead
                    tr
                        td=player
                        +autotd("Cartographer's Chisel")
                        +autotd("Orb of Horizons")
                        +autotd("Harbinger's Orb")
                        +autotd("Orb of Unmaking")
                        td=total

        script(src="./script.ts", type="module")