body
    background #0A0A0A
    color #fff

thead td
    text-align: center

tbody td
    text-align: right
    font-family: monospace
    padding: 8px 12px
    border: 1px solid #262626
    border-radius: 2px
    background #060606

.profit
    color rgb(88, 255, 88)

.loss
    color rgb(255, 64, 64)

.none
    color #333

section
    text-align center
    header
        font-size: 26px
    
    table
        border: 1px solid #222
        padding 10px
        background #111
        border-radius: 5px
        margin 15px auto

        td.positive
            color green
        
        td.negative
            color red
        
        td.zero
            color gray
        
        .chaos
            color yellow

            &::after
                content: "C";
                background-image: url("../assets/chaos.webp");
                background-repeat: no-repeat;
                background-size: contain;
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-left: 5px;
                float right